.pilates-footer-logo {
  margin-bottom: 9px;
  width: 42px;
}

.pilates-footer-logo__studio-container {
  margin: 0;
  line-height: 10px;
  text-align: center;
}

.pilates-footer-logo__studio-name {
  font-size: 9px;
  line-height: 13px;
}

@media (min-width: $tablet-width) {
  .pilates-footer-logo {
    margin-top: 4px;
    margin-right: 74px;
    margin-bottom: 0;
    width: 52px;
  }
}

@media (min-width: $desktop-width) {
  .pilates-footer-logo {
    margin-top: 0;
    margin-right: 74px;
    width: 70px;
  }

  .pilates-footer-logo__studio-container {
    width: 68px;
  }

  .pilates-footer-logo__studio-name {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
  }
}
