.reviews {
  position: relative;
  margin: $margin-auto;
  margin-bottom: 99px;
  width: $mobile-container-width;
}

.reviews__headline {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
}

.review__switch-container {
  position: absolute;
  left: 41.6%;
  bottom: -34px;
  width: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__switch-control {
  width: 6px;
  height: 6px;
  background-color: rgba(199, 212, 171, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.review1:focus ~ .review__switch-container .review__switch-control:first-child,
.review2:focus ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:focus ~ .review__switch-container .review__switch-control:last-child {
  outline: 2px solid lightblue;
}

.review1:checked ~ .review__switch-container .review__switch-control:first-child,
.review2:checked ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:checked ~ .review__switch-container .review__switch-control:last-child {
  width: 8px;
  height: 9px;
  background-color: rgba(199, 212, 171, 1);
}

.review1:hover ~ .review__switch-container .review__switch-control:first-child,
.review2:hover ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:hover ~ .review__switch-container .review__switch-control:last-child {
  background-color: #cccccc;
}

.review1:active ~ .review__switch-container .review__switch-control:first-child,
.review2:active ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:active ~ .review__switch-container .review__switch-control:last-child,
.review1:checked:active ~ .review__switch-container .review__switch-control:first-child,
.review2:checked:active ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:checked:active ~ .review__switch-container .review__switch-control:last-child {
  background-color: #3cb03c;
}

.review1:checked ~ .review__container .reviews__review-section:first-of-type,
.review2:checked ~ .review__container .reviews__review-section:nth-of-type(2),
.review3:checked ~ .review__container .reviews__review-section:last-of-type {
  display: flex;
}

.review__container {
  margin-bottom: 25px;
}

.review__arrow-switch-container {
  display: none;
}

.reviews__review-section {
  padding: 40px 12px 25px 12px;
  display: none;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: $white-color;
  box-shadow: 0 9px 22.72px 9.28px rgba(33, 33, 33, 0.04);
}

.reviews__review-section--active {
  display: flex;
}

.reviews__avatar {
  margin-right: 14px;
  margin-bottom: 11px;
}

.reviews__review-section-about-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.reviews__review-section-user-name {
  margin-top: 0;
  margin-right: 14px;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 16px;
  word-wrap: break-word;
  text-align: center;
}

.reviews__years-social-container {
  margin-right: 14px;
  margin-bottom: 18px;
  width: 121px;
  display: flex;
  justify-content: space-between;
}

.reviews__review-section-how-years {
  margin: 0;
  width: 46px;
  word-wrap: break-word;
}

.reviews__review-section-social-list {
  margin: 0;
  margin-right: 2px;
  padding: 0;
  width: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.reviews__review-section-social-item {
  margin-bottom: 5px;
}

.reviews__review-section-social-link {
  display: flex;
  fill: #7f7f7f;
}

.reviews__review-section-social-link--vk-style:hover {
  fill: #597da3;
}

.reviews__review-section-social-link--instagram-style:hover {
  fill: #8a3ab9;
}

.reviews__review-section-social-link--vk-style:active,
.reviews__review-section-social-link--instagram-style:active {
  opacity: 0.5;
}

.reviews__review-section-text {
  margin-top: 0;
  width: 266px;
  font-family: $SFUIText-family;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  word-wrap: break-word;
}

.reviews__review-section-text--desktop-display {
  display: none;
}

.review__switch-link--active {
  width: 8px;
  height: 9px;
  background-color: rgba(199, 212, 171, 1);
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 120px;
    width: $tablet-container-width;
  }

  .reviews__headline {
    margin-bottom: 46px;
    font-size: 24.5px;
    line-height: 24.5px;
  }

  .review__switch-container {
    left: 46.4%;
  }

  .review__container {
    width: $tablet-container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review__arrow-switch-container {
    margin-bottom: 36px;
    display: flex;
  }

  .review__arrow-switch-link:hover {
    opacity: 0.3;
  }

  .review__arrow-switch-link:active {
    opacity: 0.8;
  }

  .review__arrow--right {
    transform: rotate(180deg);
  }

  .reviews__review-section {
    padding-top: 21px;
    padding-bottom: 39px;
    width: 494px;
    justify-content: space-between;
    flex-direction: row;
    background-image: url("../img/reviews__review-sectionBG764px.png");
    background-position: 454px 21px;
    background-repeat: no-repeat;
  }

  .reviews__avatar {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 23px;
  }

  .reviews__review-section-about-user {
    margin-right: 49px;
    width: 298px;
    align-items: flex-start;
  }

  .reviews__review-section-user-name {
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }

  .reviews__years-social-container {
    margin-right: 0;
    margin-left: 2px;
    margin-bottom: 9px;
  }

  .reviews__review-section-text {
    width: 298px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.1px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    margin-bottom: 193px;
    width: 100%;
    max-width: 1165px;
  }

  .reviews__headline {
    margin-bottom: 63px;
    font-size: 47.4px;
    line-height: 48.1px;
  }

  .review__switch-container {
    left: 46.4%;
    bottom: -64px;
    width: 85px;
  }

  .review__switch-control {
    width: 10px;
    height: 10px;
    background-color: rgba(199, 212, 171, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }

  .review1:checked ~ .review__switch-container .review__switch-control:first-child,
  .review2:checked ~ .review__switch-container .review__switch-control:nth-child(2),
  .review3:checked ~ .review__switch-container .review__switch-control:last-child {
    width: 15px;
    height: 15px;
    background-color: rgba(199, 212, 171, 1);
  }

  .review__container {
    margin-bottom: 51px;
    width: 1165px;
  }

  .review__arrow-switch-container {
    margin-top: 47px;
    margin-bottom: 0;
  }

  .review__arrow {
    width: 21px;
    height: 37px;
  }

  .reviews__review-section {
    padding: 81px 142px;
    padding-bottom: 88px;
    width: 694px;
    justify-content: space-between;
    background-image: url("../img/reviews__review-sectionBG1366px.png");
    background-position: 805px 48px;
  }

  .reviews__avatar {
    margin-top: 26px;
    margin-left: 0;
  }

  .reviews__review-section-about-user {
    margin-top: 10px;
    margin-right: 20px;
    width: 434px;
  }

  .reviews__review-section-user-name {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 28px;
  }

  .reviews__years-social-container {
    margin-bottom: 17px;
    width: 128px;
  }

  .reviews__review-section-how-years {
    width: 56px;
    font-size: 18px;
    line-height: 18px;
  }

  .reviews__review-section-social-list {
    width: 57px;
  }

  .reviews__review-section-social-icon--vk {
    width: 25px;
    height: 14px;
  }

  .reviews__review-section-social-icon--instagram {
    width: 17px;
    height: 17px;
  }

  .reviews__review-section-text {
    width: 434px;
    font-size: 15.9px;
    line-height: 24px;
  }

  .reviews__review-section-text--desktop-display {
    display: inline;
  }

  .review__switch-link-list {
    width: 85px;
  }
}
