.social {
  margin-bottom: 31px;
}

.social__list {
  margin: 0;
  padding: 0;
  width: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social__link {
  display: flex;
  fill: #ffffff;
}

.social__link--vk-style:hover {
  fill: #597da3;
}

.social__link--facebook-style:hover {
  fill: #3b5998;
}

.social__link--instagram-style:hover {
  fill: #8a3ab9;
}

.social__link:active {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .social__list {
    width: 93px;
    align-items: center;
  }

  .social__icon--vk {
    width: 25px;
    height: 14px;
  }

  .social__icon--facebook {
    width: 10px;
    height: 20px;
  }

  .social__icon--instagram {
    width: 17px;
    height: 17px;
  }
}
