.pilates-logo {
  margin: 0;
  width: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.pilates-logo--width-margin {
  width: 42px; }

.pilates-logo__img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pilates-logo__studio-name {
  font-family: "SFUIText";
  font-size: 8px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff; }

@media (min-width: 764px) {
  .pilates-logo {
    margin-left: 4px;
    width: 50px; }
  .pilates-logo--width-margin {
    margin-left: 0; }
  .pilates-logo__img-logo {
    margin-bottom: 4px; }
  .pilates-logo__img-logo--margin-bottom {
    margin-bottom: 2px; }
  .pilates-logo__studio-name {
    font-size: 11px; } }

@media (min-width: 1366px) {
  .pilates-logo {
    width: 66px; }
  .pilates-logo__img-logo {
    margin-bottom: 1px; }
  .pilates-logo__studio-name {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.3px; } }

.left-dash {
  position: relative;
  padding-left: 25px; }

.left-dash::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: #000000; }

@media (min-width: 764px) {
  .left-dash {
    padding-left: 52px; }
  .left-dash::before {
    top: 11px;
    width: 37px;
    height: 2px; } }

@media (min-width: 1366px) {
  .left-dash {
    padding-left: 55px; }
  .left-dash::before {
    top: 24px; } }

.menu-is-open {
  position: absolute;
  top: 0;
  width: 320px;
  background-color: #91aa59;
  z-index: 1;
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s; }

.menu-is-open--display-none {
  display: none; }

.menu-is-open__container {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 73px;
  width: 290px; }

.menu-is-open__close-menu {
  margin-right: 14px;
  margin-left: auto;
  margin-bottom: 22px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-is-open__close-menu:hover {
  opacity: 0.5; }

.menu-is-open__close-menu:active {
  opacity: 0.2; }

.menu-is-open__close-button-img {
  width: 25px;
  height: 25px; }

.menu-is-open__list {
  margin: 0 auto;
  padding: 0;
  width: 244px;
  list-style-type: none; }

.menu-is-open__item {
  margin-bottom: 25px;
  padding-left: 30px; }

.menu-is-open__item:last-of-type {
  margin-bottom: 0; }

.menu-is-open__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 46px;
  color: #ffffff;
  text-decoration: none; }

.menu-is-open__link:hover {
  opacity: 0.3; }

.menu-is-open__link:active {
  opacity: 0.7; }

.menu-is-open__link--active {
  position: relative; }

.menu-is-open__link--active::before {
  position: absolute;
  content: "";
  top: 6px;
  left: -22px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%; }

@-webkit-keyframes appearance {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.3; }
  60% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes appearance {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.3; }
  60% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@media (min-width: 764px) {
  .menu-is-open {
    width: 764px; }
  .menu-is-open__container {
    padding-top: 70px;
    padding-bottom: 105px;
    width: 640px; }
  .menu-is-open__close-menu {
    margin-right: 7px;
    margin-bottom: 6px;
    width: 30px; }
  .menu-is-open__close-button-img {
    width: 32px;
    height: 32px; }
  .menu-is-open__list {
    width: 495px; }
  .menu-is-open__item {
    margin-bottom: 43px;
    padding-left: 39px; }
  .menu-is-open__link {
    font-size: 36px;
    line-height: 55px; }
  .menu-is-open__link--active::before {
    top: 15px;
    left: -35px;
    width: 16px;
    height: 16px; } }

@media (min-width: 1366px) {
  .menu-is-open {
    width: 100%;
    max-width: 1366px; }
  .menu-is-open__container {
    padding-top: 50px;
    padding-bottom: 170px;
    width: 1273px; }
  .menu-is-open__close-menu {
    margin-right: 0;
    margin-bottom: 82px;
    width: 40px; }
  .menu-is-open__close-button-img {
    width: 42px;
    height: 42px; }
  .menu-is-open__list {
    width: 615px; }
  .menu-is-open__item {
    margin-bottom: 48px;
    padding-left: 45px; }
  .menu-is-open__link {
    font-size: 48px;
    line-height: 50px; }
  .menu-is-open__link--active::before {
    top: 23px;
    left: -33px; } }

.anchors {
  display: none; }

@media (min-width: 1366px) {
  .anchors {
    position: absolute;
    width: 21px;
    display: block; }
  .anchors--pilates-header-position {
    top: 233px;
    right: 34px; }
  .anchors--js-display {
    display: none; }
  .anchors--about-pilates-position {
    top: 218px;
    right: -39px; }
  .anchors--schedule-and-cost-position {
    top: 296px;
    right: -65px; }
  .anchors--how-are-the-classes-position {
    top: 244px;
    right: -65px; }
  .anchors--review-position {
    top: 197px;
    right: -66px; }
  .anchors__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .anchors__number {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: "SFUIText";
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; }
  .anchors__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .anchors__item {
    margin-bottom: 18px; }
  .anchors__item--active-margin {
    margin-bottom: 20px; }
  .anchors__link {
    width: 5px;
    height: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5; }
  .anchors__link:hover:not(.anchors__link--active) {
    background-color: #91aa59; }
  .anchors__link:active:not(.anchors__link--active) {
    opacity: 1; }
  .anchors__link--active {
    margin: 0 auto;
    width: 2px;
    height: 60px;
    opacity: 1;
    border-radius: 0; } }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: "SFUIText";
  src: url("../fonts/SFUIText-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

body {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 320px;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  background-color: #ffffff; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.display-none {
  display: none; }

@media (min-width: 764px) {
  body {
    max-width: 764px; } }

@media (min-width: 1366px) {
  body {
    max-width: 1366px; } }

.pilates-header {
  margin-bottom: 53px;
  width: 320px;
  background-image: url("../img/strudio-presentationAbsolute320px.png"), url("../img/pilates-headerBGcircle320px.png");
  background-repeat: no-repeat;
  background-position: 71px 141px, 0 0;
  overflow: hidden; }

.pilates-header--js-margin-bottom {
  margin-bottom: 53px; }

@media (min-width: 764px) {
  .pilates-header {
    width: 764px;
    background-image: url("../img/strudio-presentationAbsolute764px.png"), url("../img/pilates-headerBGcircle764px.png");
    background-position: 40px 49px, 0 0; }
  .pilates-header--js-margin-bottom {
    margin-bottom: 53px; } }

@media (min-width: 1366px) {
  .pilates-header {
    position: relative;
    width: 100%;
    max-width: 1366px;
    background-image: url("../img/strudio-presentationAbsolute1366px.png"), url("../img/header-navCircle3BG1366px.png"), url("../img/pilates-headerBGcircle1366px.png");
    background-position: 372px 31px, 757px 177px, 0 0; }
  .pilates-header--js-margin-bottom {
    margin-bottom: 53px; } }

.header-nav {
  position: relative;
  margin: 0 auto;
  margin-bottom: 78px;
  padding: 14px 0;
  width: 290px;
  z-index: 1; }

.header-nav::before,
.header-nav::after {
  position: absolute;
  content: "";
  right: 9px;
  top: 113px;
  width: 36px;
  height: 36px;
  background-image: url("../img/header-navCircle1BG320px.png");
  background-repeat: no-repeat;
  z-index: -1; }

.header-nav::after {
  right: -27px;
  top: 62px;
  width: 21px;
  height: 21px;
  background-image: url("../img/header-navCircle2BG320px.png"); }

.header-nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none; }

.header-nav__item--mobile-none {
  display: none; }

.header-nav__burger-menu {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-nav__burger-menu:hover {
  opacity: 0.3; }

.header-nav__burger-menu:active {
  opacity: 0.8; }

.header-nav__burger {
  width: 17px;
  height: 16px; }

@media (min-width: 764px) {
  .header-nav {
    margin-bottom: 93px;
    padding: 23px 0;
    width: 645px; }
  .header-nav::before {
    right: 15px;
    top: 142px;
    width: 64px;
    height: 64px;
    background-image: url("../img/header-navCircle1BG764px.png"); }
  .header-nav::after {
    right: -79px;
    top: 51px;
    width: 62px;
    height: 62px;
    background-image: url("../img/header-navCircle2BG764px.png"); }
  .header-nav__item--mobile-none {
    display: block; }
  .header-nav__burger-menu {
    margin-bottom: 11px;
    margin-left: 73px; }
  .header-nav__burger {
    width: 23px;
    height: 22px; }
  .header-nav__tel-link {
    margin-bottom: 12px;
    display: inline-block;
    font-family: "SFUIText";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    vertical-align: middle; }
  .header-nav__tel-link:hover {
    opacity: 0.5; }
  .header-nav__tel-link:active {
    color: #91aa59;
    opacity: 1; } }

@media (min-width: 1366px) {
  .header-nav {
    margin-bottom: 88px;
    padding: 30px 0;
    width: 1219px; }
  .header-nav::before {
    right: 31px;
    top: 116px;
    width: 64px;
    height: 64px;
    background-image: url("../img/header-navCircle1BG764px.png"); }
  .header-nav::after {
    right: -101px;
    top: 17px;
    width: 62px;
    height: 62px;
    background-image: url("../img/header-navCircle2BG764px.png"); }
  .header-nav__list {
    margin: 0 auto;
    width: 1175px; }
  .header-nav__burger-menu {
    margin-bottom: 4px;
    margin-left: 21px; }
  .header-nav__tel-link {
    margin-bottom: 8px;
    margin-right: 5px; } }

.studio-presentation {
  margin: 0 auto;
  padding-bottom: 202px;
  width: 290px; }

.studio-presentation__headline {
  margin-top: 0;
  margin-bottom: 22px;
  width: 174px;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  color: #ffffff;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  word-wrap: break-word; }

.studio-presentation__text {
  display: none; }

.studio-presentation__schedule {
  padding: 11px 0 14px 0;
  width: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "SFUIText";
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 23px; }

.studio-presentation__schedule:hover {
  opacity: 0.5; }

.studio-presentation__schedule:active {
  opacity: 1;
  -webkit-box-shadow: 0 1px 8px 0 #000000 inset;
  box-shadow: 0 1px 8px 0 #000000 inset; }

.studio-presentation__arrow {
  display: none; }

@media (min-width: 764px) {
  .studio-presentation {
    padding-bottom: 227px;
    width: 640px; }
  .studio-presentation__headline {
    margin-bottom: 41px;
    width: 272px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 3px; }
  .studio-presentation__text {
    margin-top: 0;
    margin-bottom: 45px;
    width: 324px;
    display: block;
    font-family: "SFUIText";
    font-size: 17.5px;
    font-weight: 300;
    line-height: 31px;
    color: #ffffff;
    word-wrap: break-word; }
  .studio-presentation__schedule {
    position: relative;
    padding: 19px 0 20px 0;
    width: 243px;
    font-size: 14px; }
  .studio-presentation__arrow {
    position: absolute;
    top: 21px;
    right: -40px;
    display: block; } }

@media (min-width: 1366px) {
  .studio-presentation {
    padding-bottom: 338px;
    width: 1164px; }
  .studio-presentation__headline {
    margin-bottom: 13px;
    width: 335px;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 4px; } }

.pilates-main {
  width: 320px; }

@media (min-width: 764px) {
  .pilates-main {
    width: 764px; } }

@media (min-width: 1366px) {
  .pilates-main {
    width: 100%;
    max-width: 1366px; } }

.about-pilates {
  margin: 0 auto;
  margin-bottom: 44px;
  padding-bottom: 173px;
  width: 290px;
  background-image: url("../img/about-pilatesBG1photo320px.png"), url("../img/about-pilatesBG2photo320px.png");
  background-position: 8px 261px, 94px 186px;
  background-repeat: no-repeat; }

.about-pilates__headline {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word; }

.about-pilates__text {
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 16px;
  letter-spacing: 0.4px;
  word-wrap: break-word; }

.about-pilates__text--margin-bottom {
  margin-bottom: 30px; }

.about-pilates__more-link {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #2a4f37;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px; }

.about-pilates__more-link:hover {
  opacity: 0.3; }

.about-pilates__more-link:active {
  opacity: 0.8; }

.about-pilates__more-link-text {
  margin-right: 8px; }

@media (min-width: 764px) {
  .about-pilates {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 173px;
    width: 640px;
    background-image: url("../img/about-pilatesBG1photo764px.png"), url("../img/about-pilatesBG2photo764px.png");
    background-position: 221px 241px, 335px 89px; }
  .about-pilates__container {
    width: 318px; }
  .about-pilates__headline {
    margin-bottom: 41px;
    font-size: 24px;
    line-height: 25px; }
  .about-pilates__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 18px; }
  .about-pilates__text--margin-bottom {
    margin-bottom: 50px; }
  .about-pilates__more-link {
    font-size: 14px;
    line-height: 14px;
    width: 124px;
    letter-spacing: 2.5px; } }

@media (min-width: 1366px) {
  .about-pilates {
    position: relative;
    margin-bottom: 179px;
    padding-bottom: 338px;
    width: 1219px;
    background-image: url("../img/about-pilatesBG1photo1366px.png"), url("../img/about-pilatesBG3photo1366px.png"), url("../img/about-pilatesBGDot.png");
    background-position: 335px 332px, 569px 20px, 452px 218px; }
  .about-pilates__container {
    margin-left: 27px;
    width: 390px; }
  .about-pilates__headline {
    margin-bottom: 57px;
    font-size: 48px;
    line-height: 48px; }
  .about-pilates__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px; }
  .about-pilates__text--margin-bottom {
    margin-bottom: 41px; } }

.make-an-appointment {
  position: absolute;
  top: -0.9%;
  left: 0%;
  margin: 0 auto;
  width: 290px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 22.72px 9.28px rgba(27, 27, 27, 0.2);
  box-shadow: 0 9px 22.72px 9.28px rgba(27, 27, 27, 0.2);
  border-radius: 4px;
  color: #000000;
  z-index: 1;
  -webkit-animation-name: appearance-from-above;
  animation-name: appearance-from-above;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.make-an-appointment--js-display-none {
  display: none; }

.make-an-appointment__container {
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 53px;
  width: 254px; }

.make-an-appointment__close-popup {
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 40px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.make-an-appointment__close-popup:hover {
  opacity: 0.5; }

.make-an-appointment__close-popup:active {
  opacity: 0.2; }

.make-an-appointment__close-popup-img {
  width: 19px;
  height: 20px; }

.make-an-appointment__question {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  text-align: center; }

.make-an-appointment__leave-contact {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 13.7px;
  line-height: 16px;
  text-align: center; }

.make-an-appointment__form-list {
  margin: 0 auto;
  padding: 0;
  width: 170px;
  list-style-type: none; }

.make-an-appointment__form-item {
  margin-bottom: 28px; }

.make-an-appointment__form-input {
  padding: 0 5px 5px 1px;
  border: none;
  border-bottom: 2px solid #000000; }

.make-an-appointment__form-input::-webkit-input-placeholder {
  margin-bottom: 7px;
  font-family: "SFUIText";
  font-size: 14.11px;
  font-weight: 300;
  line-height: 19.73px;
  color: #000000; }

.make-an-appointment__form-input::-moz-placeholder {
  margin-bottom: 7px;
  font-family: "SFUIText";
  font-size: 14.11px;
  font-weight: 300;
  line-height: 19.73px;
  color: #000000; }

.make-an-appointment__form-input:-ms-input-placeholder {
  margin-bottom: 7px;
  font-family: "SFUIText";
  font-size: 14.11px;
  font-weight: 300;
  line-height: 19.73px;
  color: #000000; }

.make-an-appointment__form-input::-ms-input-placeholder {
  margin-bottom: 7px;
  font-family: "SFUIText";
  font-size: 14.11px;
  font-weight: 300;
  line-height: 19.73px;
  color: #000000; }

.make-an-appointment__form-input::placeholder {
  margin-bottom: 7px;
  font-family: "SFUIText";
  font-size: 14.11px;
  font-weight: 300;
  line-height: 19.73px;
  color: #000000; }

.make-an-appointment__consent-to-processing {
  position: relative;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-left: 40px;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.make-an-appointment__input + .make-an-appointment__text::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -34px;
  width: 17px;
  height: 17px;
  border: 2px solid #91aa59;
  background-color: #ffffff; }

.make-an-appointment__input:hover + .make-an-appointment__text::before {
  background-color: rgba(145, 170, 89, 0.5); }

.make-an-appointment__input:active + .make-an-appointment__text::before {
  background-color: rgba(145, 170, 89, 0.8); }

.make-an-appointment__input:focus + .make-an-appointment__text::before {
  outline: 2px solid lightblue; }

.make-an-appointment__input:checked + .make-an-appointment__text::before {
  background-color: #91aa59; }

.make-an-appointment__input:checked:active + .make-an-appointment__text::before {
  background-color: rgba(145, 170, 117, 0.5); }

.make-an-appointment__input-toggle-yes {
  display: none; }

.make-an-appointment__input:checked ~ .make-an-appointment__input-toggle-yes {
  position: absolute;
  top: 7px;
  left: 10px;
  display: block; }

.make-an-appointment__text {
  position: relative;
  font-family: "SFUIText";
  font-size: 14.14px;
  font-weight: 300;
  line-height: 20px; }

.make-an-appointment__sign-up {
  margin: 0 auto;
  padding: 9px 11px 12px 0;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "SFUIText";
  font-size: 13.5px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
  border: none;
  background-color: #91aa59;
  border-radius: 20px;
  cursor: pointer; }

.make-an-appointment__sign-up:hover {
  opacity: 0.5; }

.make-an-appointment__sign-up:active {
  opacity: 1;
  -webkit-box-shadow: 0 1px 10px #000000 inset;
  box-shadow: 0 1px 10px #000000 inset; }

@-webkit-keyframes appearance-from-above {
  0% {
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px); }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes appearance-from-above {
  0% {
    -webkit-transform: translateX(-3000px);
    transform: translateX(-3000px); }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@media (min-width: 764px) {
  .make-an-appointment {
    top: -6.3%;
    width: 640px; }
  .make-an-appointment__container {
    padding-top: 42px;
    padding-bottom: 128px;
    width: 565px; }
  .make-an-appointment__close-popup {
    margin-right: 1px;
    margin-bottom: 59px;
    width: 26px; }
  .make-an-appointment__close-popup-img {
    width: 25px;
    height: 26px; }
  .make-an-appointment__question {
    margin-bottom: 22px;
    font-size: 29.5px;
    line-height: 30px; }
  .make-an-appointment__leave-contact {
    margin-bottom: 40px;
    font-size: 15.3px;
    line-height: 16px; }
  .make-an-appointment__form-list {
    margin-bottom: 31px;
    width: 559px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .make-an-appointment__form-item--tablet-desktop-order {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .make-an-appointment__form-input {
    width: 139px; }
  .make-an-appointment__agreement-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .make-an-appointment__consent-to-processing {
    margin: 0;
    padding-left: 38px;
    width: 332px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .make-an-appointment__text {
    font-size: 14px; }
  .make-an-appointment__input + .make-an-appointment__text::before {
    top: 0;
    left: -33px; }
  .make-an-appointment__input:checked ~ .make-an-appointment__input-toggle-yes {
    top: 6px;
    left: 9px; }
  .make-an-appointment__sign-up {
    margin: 0;
    margin-right: 5px; } }

@media (min-width: 1366px) {
  .make-an-appointment {
    top: 0.9%;
    width: 100%;
    max-width: 1366px; }
  .make-an-appointment__container {
    padding-top: 62px;
    padding-bottom: 216px;
    width: 979px; }
  .make-an-appointment__close-popup {
    margin-right: 13px;
    margin-bottom: 106px;
    width: 36px; }
  .make-an-appointment__close-popup-img {
    width: 35px;
    height: 39px; }
  .make-an-appointment__question {
    margin-bottom: 42px;
    font-size: 47px;
    line-height: 48px; }
  .make-an-appointment__leave-contact {
    margin-bottom: 69px;
    font-size: 17.3px;
    line-height: 18px; }
  .make-an-appointment__form-list {
    margin-bottom: 64px;
    width: 854px; }
  .make-an-appointment__form-input {
    padding-top: 5px;
    padding-bottom: 12px;
    width: 217px; }
  .make-an-appointment__form-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19.73px; }
  .make-an-appointment__form-input::-moz-placeholder {
    font-size: 16px;
    line-height: 19.73px; }
  .make-an-appointment__form-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 19.73px; }
  .make-an-appointment__form-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 19.73px; }
  .make-an-appointment__form-input::placeholder {
    font-size: 16px;
    line-height: 19.73px; }
  .make-an-appointment__agreement-container {
    margin: 0 auto;
    width: 854px; }
  .make-an-appointment__consent-to-processing {
    padding-left: 51px;
    width: 426px; }
  .make-an-appointment__input + .make-an-appointment__text::before {
    top: 0;
    left: -52px;
    width: 28px;
    height: 28px; }
  .make-an-appointment__input:checked ~ .make-an-appointment__input-toggle-yes {
    position: absolute;
    top: 12px;
    left: 8px;
    display: block; }
  .make-an-appointment__text {
    font-size: 18px;
    line-height: 30px; }
  .make-an-appointment__sign-up {
    margin-right: 0;
    padding: 19px 0;
    width: 237px;
    font-size: 18px;
    border-radius: 27px; } }

.schedule-and-cost {
  position: relative;
  margin: 0 auto;
  margin-bottom: 47px;
  width: 290px; }

.schedule-and-cost__headline {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.4px; }

.schedule-and-cost__cell {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 244px; }

.schedule-and-cost__cell--01 {
  background-color: rgba(156, 178, 105, 0.5); }

.schedule-and-cost__cell--02 {
  background-color: rgba(156, 178, 105, 0.7); }

.schedule-and-cost__cell--03 {
  background-color: #9cb269; }

.schedule-and-cost__cell--01::before,
.schedule-and-cost__cell--02::before,
.schedule-and-cost__cell--03::before {
  position: absolute;
  content: "01";
  top: 24px;
  left: 64px;
  width: 127px;
  height: 105px;
  font-family: "SFUIText";
  font-size: 115px;
  font-weight: 700;
  line-height: 115px;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1; }

.schedule-and-cost__cell--02::before {
  content: "02";
  top: 25px;
  left: 57px;
  width: 150px;
  height: 105px; }

.schedule-and-cost__cell--03::before {
  content: "03";
  top: 25px;
  left: 57px;
  width: 150px;
  height: 105px; }

.schedule-and-cost__info-container {
  margin: 0 auto;
  padding-top: 101px;
  padding-bottom: 41px;
  width: 151px; }

.schedule-and-cost__info-container--padding-right-bottom {
  padding-right: 7px;
  padding-bottom: 42px; }

.schedule-and-cost__lvl {
  margin-top: 0;
  margin-bottom: 13px;
  width: 96px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.4px; }

.schedule-and-cost__lvl--font-size {
  font-size: 18px;
  line-height: 18px; }

.schedule-and-cost__cost-per-lesson {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "SFUIText";
  font-size: 15.6px;
  font-weight: 700;
  color: #ffffff; }

.schedule-and-cost__table {
  margin-bottom: 20px;
  width: 136px;
  font-family: "SFUIText";
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff; }

.schedule-and-cost__table-data {
  padding-bottom: 6px; }

.schedule-and-cost__sign-up {
  position: relative;
  padding: 6px 0 6px 0;
  width: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "SFUIText";
  font-size: 13.3px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px; }

.schedule-and-cost__sign-up:hover {
  text-shadow: 3px -4px 16px #000000;
  background-color: #c2c2c2; }

.schedule-and-cost__sign-up:active {
  -webkit-box-shadow: 0 1px 12px #000000 inset;
  box-shadow: 0 1px 12px #000000 inset;
  text-shadow: none;
  background-color: transparent; }

.schedule-and-cost__sign-up-arrow {
  position: absolute;
  top: 8px;
  right: -20px; }

@media (min-width: 764px) {
  .schedule-and-cost {
    margin-bottom: 75px;
    width: 640px; }
  .schedule-and-cost__headline {
    margin-bottom: 46px;
    font-size: 24.7px;
    line-height: 24.7px; }
  .schedule-and-cost__cell-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .schedule-and-cost__cell {
    margin: 0;
    margin-bottom: 10px;
    width: 206px; }
  .schedule-and-cost__cell:nth-child(3n + 2) {
    margin-right: 10px;
    margin-left: 10px; }
  .schedule-and-cost__cost-per-lesson--width {
    width: 155px; }
  .schedule-and-cost__cell--01::before {
    left: 40px; }
  .schedule-and-cost__cell--02::before,
  .schedule-and-cost__cell--03::before {
    top: 23px;
    left: 40px; } }

@media (min-width: 1366px) {
  .schedule-and-cost {
    position: relative;
    margin-bottom: 119px;
    width: 100%;
    max-width: 1165px; }
  .schedule-and-cost__headline {
    margin-bottom: 63px;
    font-size: 48.5px;
    line-height: 48.5px; }
  .schedule-and-cost__cell {
    margin: 0;
    margin-bottom: 10px;
    width: 376px; }
  .schedule-and-cost__cell:nth-child(3n + 2) {
    margin-right: 19px;
    margin-left: 18px; }
  .schedule-and-cost__cost-per-lesson--width {
    width: auto; }
  .schedule-and-cost__cell--01::before,
  .schedule-and-cost__cell--02::before,
  .schedule-and-cost__cell--03::before {
    width: 230px;
    height: 190px;
    font-size: 209px;
    line-height: 210px; }
  .schedule-and-cost__cell--01::before {
    top: 58px;
    left: 94px; }
  .schedule-and-cost__cell--02::before,
  .schedule-and-cost__cell--03::before {
    top: 56px;
    left: 58px;
    width: 272px; }
  .schedule-and-cost__info-container {
    padding-top: 188px;
    padding-bottom: 94px;
    width: 235px; }
  .schedule-and-cost__lvl {
    margin-bottom: 26px;
    width: 156px;
    font-size: 14px;
    line-height: 14px; }
  .schedule-and-cost__lvl--font-size {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2.5px; }
  .schedule-and-cost__cost-per-lesson {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 24px; }
  .schedule-and-cost__table {
    margin-bottom: 26px;
    width: 190px;
    font-size: 18px;
    line-height: 18px; }
  .schedule-and-cost__table-data {
    padding-bottom: 14px; }
  .schedule-and-cost__day {
    margin-right: 13px; }
  .schedule-and-cost__sign-up {
    padding: 17px 0 17px 0;
    width: 233px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 27px; }
  .schedule-and-cost__sign-up-arrow {
    top: 20px; } }

.how-are-the-classes {
  margin: 0 auto;
  width: 290px; }

.how-are-the-classes__headline {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word; }

.how-are-the-classes__item {
  position: relative;
  margin-bottom: 62px; }

.how-are-the-classes__item--posAbs4 {
  margin-bottom: 39px; }

.how-are-the-classes__item--posAbs1::before,
.how-are-the-classes__item--posAbs2::before,
.how-are-the-classes__item--posAbs3::before,
.how-are-the-classes__item--posAbs4::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: -1; }

.how-are-the-classes__item--posAbs1::before {
  top: 25px;
  left: 43px;
  width: 203px;
  height: 256px;
  background-image: url("../img/how-are-the-classes__item--bg1__320px.png"); }

.how-are-the-classes__item--posAbs2::before {
  top: -47px;
  left: 23px;
  width: 235px;
  height: 337px;
  background-image: url("../img/how-are-the-classes__item--bg2__320px.png"); }

.how-are-the-classes__item--posAbs3::before {
  top: 64px;
  left: 8px;
  width: 259px;
  height: 226px;
  background-image: url("../img/how-are-the-classes__item--bg3__320px.png"); }

.how-are-the-classes__item--posAbs4::before {
  top: 72px;
  left: -14px;
  width: 319px;
  height: 226px;
  background-image: url("../img/how-are-the-classes__item--bg4__320px.png"); }

.how-are-the-classes__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.how-are-the-classes__item-headline {
  margin-top: 0;
  margin-bottom: 275px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word; }

.how-are-the-classes__item--posAbs2 .how-are-the-classes__item-headline--margin-bottom {
  margin-bottom: 295px; }

.how-are-the-classes__item--posAbs3 .how-are-the-classes__item-headline--margin-bottom {
  margin-bottom: 303px; }

.how-are-the-classes__item--posAbs4 .how-are-the-classes__item-headline--margin-bottom {
  margin-bottom: 307px; }

.how-are-the-classes__item-description {
  margin-top: 0;
  font-family: "SFUIText";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  word-wrap: break-word; }

@media (min-width: 764px) {
  .how-are-the-classes {
    width: 640px; }
  .how-are-the-classes__headline {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 24px; }
  .how-are-the-classes__headline::before {
    top: 15px; }
  .how-are-the-classes__item {
    margin: 0 auto;
    margin-bottom: 203px;
    margin-left: 54px; }
  .how-are-the-classes__item--posAbs2 {
    margin-bottom: 224px; }
  .how-are-the-classes__item--posAbs2,
  .how-are-the-classes__item--posAbs4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .how-are-the-classes__item--posAbs3 {
    margin-bottom: 181px;
    margin-left: 28px; }
  .how-are-the-classes__item--posAbs4 {
    margin-bottom: 145px; }
  .how-are-the-classes__item--posAbs1::before {
    top: -119px;
    left: 322px;
    width: 231px;
    height: 321px;
    background-image: url("../img/how-are-the-classes__item--bg1__764px.png"); }
  .how-are-the-classes__item--posAbs2::before {
    top: -157px;
    left: -7px;
    width: 235px;
    height: 372px;
    background-image: url("../img/how-are-the-classes__item--bg2__764px.png"); }
  .how-are-the-classes__item--posAbs3::before {
    top: -37px;
    left: 263px;
    width: 294px;
    height: 234px;
    background-image: url("../img/how-are-the-classes__item--bg3__764px.png"); }
  .how-are-the-classes__item--posAbs4::before {
    top: -51px;
    left: -85px;
    width: 391px;
    height: 258px;
    background-image: url("../img/how-are-the-classes__item--bg4__764px.png"); }
  .how-are-the-classes__item-container {
    width: 320px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .how-are-the-classes__item--posAbs2 .how-are-the-classes__item-container {
    width: 295px; }
  .how-are-the-classes__item--posAbs3 .how-are-the-classes__item-container {
    width: 260px; }
  .how-are-the-classes__item--posAbs4 .how-are-the-classes__item-container {
    width: 298px; }
  .how-are-the-classes__item-headline {
    font-size: 18px;
    line-height: 18px; }
  .how-are-the-classes__item-headline,
  .how-are-the-classes__item--posAbs2 .how-are-the-classes__item-headline--margin-bottom,
  .how-are-the-classes__item--posAbs3 .how-are-the-classes__item-headline--margin-bottom,
  .how-are-the-classes__item--posAbs4 .how-are-the-classes__item-headline--margin-bottom {
    margin-bottom: 31px; }
  .how-are-the-classes__item-description {
    font-size: 16px;
    line-height: 18px;
    text-align: left; } }

@media (min-width: 1366px) {
  .how-are-the-classes {
    position: relative;
    width: 100%;
    max-width: 1160px; }
  .how-are-the-classes__headline {
    margin-bottom: 213px;
    padding-left: 52px;
    width: 540px;
    font-size: 48px;
    line-height: 48px; }
  .how-are-the-classes__headline::before {
    top: 28px;
    left: -2px; }
  .how-are-the-classes__item {
    margin-bottom: 423px;
    margin-left: 92px; }
  .how-are-the-classes__item--posAbs1::before {
    top: -275px;
    left: 481px;
    width: 423px;
    height: 548px;
    background-image: url("../img/how-are-the-classes__item--bg1__1366px.png"); }
  .how-are-the-classes__item--posAbs2::before {
    top: -314px;
    left: 12px;
    width: 462px;
    height: 650px;
    background-image: url("../img/how-are-the-classes__item--bg2__1366px.png"); }
  .how-are-the-classes__item--posAbs3::before {
    top: -115px;
    left: 411px;
    width: 496px;
    height: 417px;
    background-image: url("../img/how-are-the-classes__item--bg3__1366px.png"); }
  .how-are-the-classes__item--posAbs4::before {
    top: -147px;
    left: -49px;
    width: 671px;
    height: 482px;
    background-image: url("../img/how-are-the-classes__item--bg4__1366px.png"); }
  .how-are-the-classes__item-container {
    width: 445px; }
  .how-are-the-classes__item--posAbs2 {
    margin-bottom: 442px; }
  .how-are-the-classes__item--posAbs3 {
    margin-bottom: 461px; }
  .how-are-the-classes__item--posAbs4 {
    margin-bottom: 283px; }
  .how-are-the-classes__item--posAbs2 .how-are-the-classes__item-container {
    margin-right: 24px;
    width: 445px; }
  .how-are-the-classes__item--posAbs3 .how-are-the-classes__item-container {
    width: 375px; }
  .how-are-the-classes__item--posAbs4 .how-are-the-classes__item-container {
    width: 435px; }
  .how-are-the-classes__item-headline {
    font-size: 28px;
    line-height: 28px; }
  .how-are-the-classes__item-headline,
  .how-are-the-classes__item--posAbs2 .how-are-the-classes__item-headline--margin-bottom,
  .how-are-the-classes__item--posAbs3 .how-are-the-classes__item-headline--margin-bottom,
  .how-are-the-classes__item--posAbs4 .how-are-the-classes__item-headline--margin-bottom {
    margin-bottom: 24px; }
  .how-are-the-classes__item-description {
    line-height: 24px; }
  .how-are-the-classes__item--posAbs4 .how-are-the-classes__item-description {
    width: 360px; } }

.reviews {
  position: relative;
  margin: 0 auto;
  margin-bottom: 99px;
  width: 290px; }

.reviews__headline {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word; }

.review__switch-container {
  position: absolute;
  left: 41.6%;
  bottom: -34px;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.review__switch-control {
  width: 6px;
  height: 6px;
  background-color: rgba(199, 212, 171, 0.5);
  border-radius: 50%;
  cursor: pointer; }

.review1:focus ~ .review__switch-container .review__switch-control:first-child,
.review2:focus ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:focus ~ .review__switch-container .review__switch-control:last-child {
  outline: 2px solid lightblue; }

.review1:checked ~ .review__switch-container .review__switch-control:first-child,
.review2:checked ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:checked ~ .review__switch-container .review__switch-control:last-child {
  width: 8px;
  height: 9px;
  background-color: #c7d4ab; }

.review1:hover ~ .review__switch-container .review__switch-control:first-child,
.review2:hover ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:hover ~ .review__switch-container .review__switch-control:last-child {
  background-color: #cccccc; }

.review1:active ~ .review__switch-container .review__switch-control:first-child,
.review2:active ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:active ~ .review__switch-container .review__switch-control:last-child,
.review1:checked:active ~ .review__switch-container .review__switch-control:first-child,
.review2:checked:active ~ .review__switch-container .review__switch-control:nth-child(2),
.review3:checked:active ~ .review__switch-container .review__switch-control:last-child {
  background-color: #3cb03c; }

.review1:checked ~ .review__container .reviews__review-section:first-of-type,
.review2:checked ~ .review__container .reviews__review-section:nth-of-type(2),
.review3:checked ~ .review__container .reviews__review-section:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.review__container {
  margin-bottom: 25px; }

.review__arrow-switch-container {
  display: none; }

.reviews__review-section {
  padding: 40px 12px 25px 12px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 22.72px 9.28px rgba(33, 33, 33, 0.04);
  box-shadow: 0 9px 22.72px 9.28px rgba(33, 33, 33, 0.04); }

.reviews__review-section--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__avatar {
  margin-right: 14px;
  margin-bottom: 11px; }

.reviews__review-section-about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__review-section-user-name {
  margin-top: 0;
  margin-right: 14px;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 16px;
  word-wrap: break-word;
  text-align: center; }

.reviews__years-social-container {
  margin-right: 14px;
  margin-bottom: 18px;
  width: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.reviews__review-section-how-years {
  margin: 0;
  width: 46px;
  word-wrap: break-word; }

.reviews__review-section-social-list {
  margin: 0;
  margin-right: 2px;
  padding: 0;
  width: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none; }

.reviews__review-section-social-item {
  margin-bottom: 5px; }

.reviews__review-section-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #7f7f7f; }

.reviews__review-section-social-link--vk-style:hover {
  fill: #597da3; }

.reviews__review-section-social-link--instagram-style:hover {
  fill: #8a3ab9; }

.reviews__review-section-social-link--vk-style:active,
.reviews__review-section-social-link--instagram-style:active {
  opacity: 0.5; }

.reviews__review-section-text {
  margin-top: 0;
  width: 266px;
  font-family: "SFUIText";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  word-wrap: break-word; }

.reviews__review-section-text--desktop-display {
  display: none; }

.review__switch-link--active {
  width: 8px;
  height: 9px;
  background-color: #c7d4ab; }

@-webkit-keyframes fade {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@media (min-width: 764px) {
  .reviews {
    margin-bottom: 120px;
    width: 640px; }
  .reviews__headline {
    margin-bottom: 46px;
    font-size: 24.5px;
    line-height: 24.5px; }
  .review__switch-container {
    left: 46.4%; }
  .review__container {
    width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .review__arrow-switch-container {
    margin-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .review__arrow-switch-link:hover {
    opacity: 0.3; }
  .review__arrow-switch-link:active {
    opacity: 0.8; }
  .review__arrow--right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .reviews__review-section {
    padding-top: 21px;
    padding-bottom: 39px;
    width: 494px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-image: url("../img/reviews__review-sectionBG764px.png");
    background-position: 454px 21px;
    background-repeat: no-repeat; }
  .reviews__avatar {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 23px; }
  .reviews__review-section-about-user {
    margin-right: 49px;
    width: 298px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .reviews__review-section-user-name {
    font-size: 18px;
    line-height: 18px;
    text-align: left; }
  .reviews__years-social-container {
    margin-right: 0;
    margin-left: 2px;
    margin-bottom: 9px; }
  .reviews__review-section-text {
    width: 298px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.1px; } }

@media (min-width: 1366px) {
  .reviews {
    position: relative;
    margin-bottom: 193px;
    width: 100%;
    max-width: 1165px; }
  .reviews__headline {
    margin-bottom: 63px;
    font-size: 47.4px;
    line-height: 48.1px; }
  .review__switch-container {
    left: 46.4%;
    bottom: -64px;
    width: 85px; }
  .review__switch-control {
    width: 10px;
    height: 10px;
    background-color: rgba(199, 212, 171, 0.5);
    border-radius: 50%;
    cursor: pointer; }
  .review1:checked ~ .review__switch-container .review__switch-control:first-child,
  .review2:checked ~ .review__switch-container .review__switch-control:nth-child(2),
  .review3:checked ~ .review__switch-container .review__switch-control:last-child {
    width: 15px;
    height: 15px;
    background-color: #c7d4ab; }
  .review__container {
    margin-bottom: 51px;
    width: 1165px; }
  .review__arrow-switch-container {
    margin-top: 47px;
    margin-bottom: 0; }
  .review__arrow {
    width: 21px;
    height: 37px; }
  .reviews__review-section {
    padding: 81px 142px;
    padding-bottom: 88px;
    width: 694px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../img/reviews__review-sectionBG1366px.png");
    background-position: 805px 48px; }
  .reviews__avatar {
    margin-top: 26px;
    margin-left: 0; }
  .reviews__review-section-about-user {
    margin-top: 10px;
    margin-right: 20px;
    width: 434px; }
  .reviews__review-section-user-name {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 28px; }
  .reviews__years-social-container {
    margin-bottom: 17px;
    width: 128px; }
  .reviews__review-section-how-years {
    width: 56px;
    font-size: 18px;
    line-height: 18px; }
  .reviews__review-section-social-list {
    width: 57px; }
  .reviews__review-section-social-icon--vk {
    width: 25px;
    height: 14px; }
  .reviews__review-section-social-icon--instagram {
    width: 17px;
    height: 17px; }
  .reviews__review-section-text {
    width: 434px;
    font-size: 15.9px;
    line-height: 24px; }
  .reviews__review-section-text--desktop-display {
    display: inline; }
  .review__switch-link-list {
    width: 85px; } }

.contacts__headline {
  margin-top: 0;
  margin-bottom: 22px;
  padding-left: 41px;
  font-size: 17.4px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word; }

.contacts__headline::before {
  left: 15px; }

.contacts__communication-methods {
  margin-bottom: 50px;
  padding-left: 36px; }

.contacts__communication-methods-list {
  margin: 0;
  padding: 0;
  width: 146px;
  list-style-type: none; }

.contacts__communication-methods-item {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contacts__communication-methods-item:last-of-type {
  margin-bottom: 0; }

.contacts__communication-methods-item--margin {
  margin-bottom: 16px; }

.contacts__communication-methods-link {
  font-family: "SFUIText";
  font-size: 13.5px;
  font-weight: 300;
  line-height: 14px;
  color: #000000;
  text-decoration: none; }

.contacts__communication-methods-link--font {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.6px; }

.contacts__communication-methods-link--tel-margin {
  margin-bottom: 5px; }

.contacts__communication-methods-link--mail-margin {
  margin-bottom: 3px; }

.contacts__communication-methods-link--mail-underline {
  border-bottom: 1px solid #000000; }

.contacts__communication-methods-link--interaction-styles:hover {
  color: #cccccc; }

.contacts__communication-methods-link--interaction-styles:active {
  color: #cccccc;
  opacity: 0.5; }

.contacts__map-container {
  position: relative; }

.contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts__map-marker {
  position: absolute;
  top: 72px;
  right: 88px; }

.contacts__map-iframe {
  position: absolute;
  top: 0;
  width: 320px;
  height: 272px; }

@media (min-width: 764px) {
  .contacts__headline {
    margin-bottom: 28px;
    padding-left: 115px;
    font-size: 24px;
    line-height: 24px; }
  .contacts__headline::before {
    left: 62px; }
  .contacts__info-container {
    position: relative; }
  .contacts__communication-methods {
    position: absolute;
    left: 49px;
    margin-bottom: 0;
    padding: 29px 42px 39px 36px;
    background-color: #91aa59;
    -webkit-box-shadow: 0 6px 15px 0 rgba(33, 33, 33, 0.2);
    box-shadow: 0 6px 15px 0 rgba(33, 33, 33, 0.2);
    z-index: 1; }
  .contacts__communication-methods-list {
    width: 170px; }
  .contacts__communication-methods-item {
    margin-bottom: 40px; }
  .contacts__communication-methods-item--margin {
    margin-bottom: 36px; }
  .contacts__communication-methods-link {
    font-size: 15.5px;
    line-height: 15.5px;
    color: #ffffff; }
  .contacts__communication-methods-link--font {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 18px; }
  .contacts__communication-methods-link--tel-margin {
    margin-bottom: 7px; }
  .contacts__communication-methods-link--mail-margin {
    margin-bottom: 6px; }
  .contacts__communication-methods-link--mail-underline {
    border-color: #ffffff; }
  .contacts__map-marker {
    top: 82px;
    right: 242px; }
  .contacts__map-iframe {
    width: 764px;
    height: 355px; } }

@media (min-width: 1366px) {
  .contacts {
    width: 100%;
    max-width: 1366px; }
  .contacts__headline {
    margin-bottom: 63px;
    padding-left: 155px;
    font-size: 48px;
    line-height: 48px; }
  .contacts__headline::before {
    left: 99px; }
  .contacts__communication-methods {
    left: 99px;
    padding: 55px 75px 78px 69px; }
  .contacts__communication-methods-list {
    width: 167px; }
  .contacts__communication-methods-item {
    margin-bottom: 20px; }
  .contacts__communication-methods-item--margin {
    margin-bottom: 16px; }
  .contacts__communication-methods-link {
    font-size: 15.5px;
    line-height: 20.8px; }
  .contacts__communication-methods-link--font {
    margin-bottom: 5px;
    font-size: 16.3px;
    line-height: 30.8px; }
  .contacts__communication-methods-link--tel-margin {
    margin-bottom: 8px; }
  .contacts__communication-methods-link--mail-underline {
    line-height: 17.5px; }
  .contacts__map-marker {
    top: 162px;
    right: 45.9%; }
  .contacts__map-iframe {
    width: 1366px;
    height: 513px; } }

.pilates-footer {
  position: absolute;
  top: 99.9%;
  width: 320px;
  background-color: #91aa59; }

.pilates-footer__container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 5px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 764px) {
  .pilates-footer {
    top: 100%;
    width: 764px; }
  .pilates-footer__container {
    padding-top: 15px;
    padding-bottom: 13px;
    width: 724px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 1366px) {
  .pilates-footer {
    width: 100%;
    max-width: 1366px; }
  .pilates-footer__container {
    padding-top: 39px;
    padding-bottom: 44px;
    width: 1165px; } }

.copyright {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.copyright__paragraph {
  margin: 0;
  width: 122px;
  font-family: "SFUIText";
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 1px; }

.copyright__paragraph--copyright-size {
  margin-left: 4px;
  font-size: 15px;
  line-height: 24px; }

@media (min-width: 764px) {
  .copyright {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }
  .copyright__paragraph {
    width: 152px;
    font-size: 13.5px;
    line-height: 20px; }
  .copyright__paragraph--copyright-size {
    margin-left: 0;
    font-size: 15.2px; } }

@media (min-width: 1366px) {
  .copyright {
    margin-bottom: 6px; }
  .copyright__paragraph {
    width: 170px;
    font-size: 14.3px;
    line-height: 22px;
    letter-spacing: 1.5px; }
  .copyright__paragraph--copyright-size {
    margin-left: 1px;
    font-size: 16px; } }

.social {
  margin-bottom: 31px; }

.social__list {
  margin: 0;
  padding: 0;
  width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none; }

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #ffffff; }

.social__link--vk-style:hover {
  fill: #597da3; }

.social__link--facebook-style:hover {
  fill: #3b5998; }

.social__link--instagram-style:hover {
  fill: #8a3ab9; }

.social__link:active {
  opacity: 0.5; }

@media (min-width: 764px) {
  .social {
    margin-top: 4px;
    margin-bottom: 0; } }

@media (min-width: 1366px) {
  .social {
    margin-top: 0;
    margin-bottom: 6px; }
  .social__list {
    width: 93px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .social__icon--vk {
    width: 25px;
    height: 14px; }
  .social__icon--facebook {
    width: 10px;
    height: 20px; }
  .social__icon--instagram {
    width: 17px;
    height: 17px; } }

.pilates-footer-logo {
  margin-bottom: 9px;
  width: 42px; }

.pilates-footer-logo__studio-container {
  margin: 0;
  line-height: 10px;
  text-align: center; }

.pilates-footer-logo__studio-name {
  font-size: 9px;
  line-height: 13px; }

@media (min-width: 764px) {
  .pilates-footer-logo {
    margin-top: 4px;
    margin-right: 74px;
    margin-bottom: 0;
    width: 52px; } }

@media (min-width: 1366px) {
  .pilates-footer-logo {
    margin-top: 0;
    margin-right: 74px;
    width: 70px; }
  .pilates-footer-logo__studio-container {
    width: 68px; }
  .pilates-footer-logo__studio-name {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px; } }
